.drone-options {
    display: flex;
    flex-direction: row;
}

.drone-options input[type="radio"] {
    margin-right: 12px; /* 라디오 버튼 사이 간격 조정 */
}

.drone-options label {
    display: inline-block; /* 레이블을 인라인 블록으로 설정 */
    vertical-align: middle; /* 레이블과 라디오 버튼의 세로 정렬 맞춤 */
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    white-space: pre-wrap;
}

fieldset {
    margin: 20px;
}